@model User[]

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h4>Примеры с представлениями и видами передачи данных в представление</h4>
            <ul>
                <li>
                    @Html.ActionLink("DataTransportByViewData", "DataTransportByViewData")
                </li>
                <li>
                    @Html.ActionLink("DataTransportByViewBag", "DataTransportByViewBag")
                </li>
                <li>
                    @Html.ActionLink("DataTransportByModel", "DataTransportByModel")
                </li>
                <li>
                    @Html.ActionLink("ViewWithSeparateLayout", "ViewWithSeparateLayout")
                </li>
                <li>
                    @Html.ActionLink("Components", "Components")
                </li>
                <li>
                    @Html.ActionLink("PartialViewExample", "PartialViewExample")
                </li>
            </ul>
        </div>
    </div>
</div>